@media (max-width: 1024px) {
  .service-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {

  nav ul {
    display: none;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 36px;
  }

  section {
    padding: 80px 0;
  }
}